<!-- header.html will be inserted here -->
<include href="header.html" />
<br>
<main class="row">
    <div class="container-fluid col-12 border rounded py-3 px-4">
        <check if="{{ @message }}">
            <div class="alert alert-success col-md-12 text-center" role="alert">"{{ @message.description }}" as a new item added successfully for the auction</div>
        </check>
        
        <div col-md-12>
            
            
            <check if="{{ ($_COOKIE['cookie_username'] != null) }}">
                <true>
            <h1 class="fw-light">Item Management</h1>
            <br>
            <a class="btn btn-primary" href="activeItems/" role="button">Items on Auction</a>
            <!-- Must add userName Variables  in My Items link-->
            
            
            <a class="btn btn-primary" href="myItems/" role="button">My Items</a> 
            <a class="btn btn-primary" href="expiredItems/" role="button">Expired Items</a>
            <a class="btn btn-primary" href="addItem/" role="button">Add new Item</a>
            <a class="btn btn-primary" href="allItems/" role="button">All Items</a>

            </true>
            </check>        
        </div>
        <br>
         <!-- All Items Table Starts here -->
        <check if="{{ @table }} == 'allItemsTbl'">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Item Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Bid Expiration Time</th>
                    <th scope="col">Starting Bid</th>
                    <th scope="col">Owner</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{ @AllItems }}" value="{{ @item }}" key="{{ @key }}">
                    <tr>
                        <th scope="row">{{ @item.item_id }}</th>
                        <td>{{ @item.description }}</td>
                        <td>{{ @item.end_date_time }}</td>
                        <td>{{ @item.starting_bid }}</td>
                        <td>{{ @item.owner }}</td>
                        <!-- <check if="{{ @table }} == 'allItemsTbl'">
                            <td><a class="btn btn-success" href="bid/{{ @item.item_id }}" role="button">Bid</a></td>
                        </check> -->
                    </tr>
                </repeat>
                </tbody>
            </table>
        </check>
        <!-- All Items Table ends here -->
    
        <!-- Active Items Table Starts here -->
        <check if="{{ @table }} == 'activeItems'">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Item Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Bid Expiration Time</th>
                    <th scope="col">Starting Bid</th>
                    <th scope="col">Owner</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{ @activeItems }}" value="{{ @item }}" key="{{ @key }}">
                    <tr>
                        <th scope="row">{{ @item.item_id }}</th>
                        <td>{{ @item.description }}</td>
                        <td>{{ @item.end_date_time }}</td>
                        <td>{{ @item.starting_bid }}</td>
                        <td>{{ @item.owner }}</td>
                        <!-- Adrian: html lines -->
                        <!-- <td><a class="btn btn-success" href="bid/{{ @item.item_id }}" role="button">View Detail</a></td> -->
                        <!-- Zhao: html lines -->
                        <td><a class="btn btn-success" href="detailpage/{{ @item.item_id }}" role="button">View Detail</a></td>

                    </tr>
                </repeat>
                </tbody>
            </table>
        </check>
         <!-- Active Items Table Ends here -->

         <!-- My Items Table Starts here -->
         <check if="{{ @table }} == 'myItems'">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Item Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Bid Expiration Time</th>
                    <th scope="col">Starting Bid</th>
                    <th scope="col">Owner</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{ @myItems }}" value="{{ @item }}" key="{{ @key }}">
                    <tr>
                        <th scope="row">{{ @item.item_id }}</th>
                        <td>{{ @item.description }}</td>
                        <td>{{ @item.end_date_time }}</td>
                        <td>{{ @item.starting_bid }}</td>
                        <td>{{ @item.owner }}</td>
                        <td><a class="btn btn-danger" href="delete/{{ @item.item_id }}" role="button">Delete</a></td>
                    </tr>
                </repeat>
                </tbody>
            </table>
        </check>
         <!-- My Items Table Ends here -->
         
        <!--Expired Items Table Starts here -->
        <check if="{{ @table }} == 'expiredItems'">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Item Id</th>
                    <th scope="col">Description</th>
                    <th scope="col">Bid Expiration Time</th>
                    <th scope="col">Starting Bid</th>
                    <th scope="col">Owner</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{ @expiredItems }}" value="{{ @item }}" key="{{ @key }}">
                    <tr class="table-secondary">
                        <th scope="row">{{ @item.item_id }}</th>
                        <td>{{ @item.description }}</td>
                        <td>{{ @item.end_date_time }}</td>
                        <td>{{ @item.starting_bid }}</td>
                        <td>{{ @item.owner }}</td>
                    </tr>
                </repeat>
                </tbody>
            </table>
        </check>
        <!-- Expired Items Table Ends here -->
              
        






        <!-- insert biding part for the items from detailpage.html-->
        <!-- <check if="{{ true }}">








            
        </check> -->

         








    </div>
</main>

<!-- footer.html gonna be inserted here  -->
<include href="footer.html" />
